<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578624856642-2dqmn9iupg62u6nt0a20dh55i93v73s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578624856642-2dqmn9iupg62u6nt0a20dh55i93v73s9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578624856642-3ogbt3gr9rl6kds4odums59h21r7d3o9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDj1TTPibr9LbI_ZQcItv6bCKI8sB7-JGc</string>
	<key>GCM_SENDER_ID</key>
	<string>578624856642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mibusk.rider</string>
	<key>PROJECT_ID</key>
	<string>m-mibuskapp</string>
	<key>STORAGE_BUCKET</key>
	<string>m-mibuskapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578624856642:ios:f9e87f010456fa86</string>
	<key>DATABASE_URL</key>
	<string>https://m-mibuskapp.firebaseio.com</string>
</dict>
</plist>